<!DOCTYPE html>
{% load staticfiles %}
<html>
<title>Shady Oaks Golf Course - Profile Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="css1.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none;background-color:#ff8000;" id="mySidebar">
  <!--<h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>-->
  <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
  <a href="{% url 'membership' %}" class="w3-bar-item w3-button">Membership</a>
  <a href="{% url 'scheduling' %}" class="w3-bar-item w3-button">Scheduling</a>
  <a href="{% url 'events' %}" class="w3-bar-item w3-button">Events</a>
    <a href="{% url 'contact' %}" class="w3-bar-item w3-button">Contact Us</a>
    <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
<br>
    <br>
    <image src="{% static "images/ShadyOaksLogo.jpg" %}" alt="Logo" style="width:50%;align="right;"/>
</nav>
<header class="w3-container w3-theme w3-padding-32" id="myHeader">
      <span>
          <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme" style="color:white;"></i>

      </span>
  <div class="w3-center">
  <h4 style="color:white;">Hello {{ user.first_name }}!</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom" style="color:white;">SHADY OAKS GOLF COURSE</h1>

  </div>
      <style>
          header {background-color: #072c16}
</style>
  </header>
<div style="margin-left: 50px; height: 300px">
    <image style="float: right;height: 300px; margin-left: 20px" src="{% static "images/ShadyOaksLogo.jpg" %}" alt="Logo" style="width:50%;align="right;"/>
    <h1>Profile Information</h1>
    <p><b>Username:</b> {{ user }}</p>
    <p><b>First name:</b> {{ user.first_name }}</p>
    <p><b>Last name:</b> {{ user.last_name }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <a href="{% url 'edit_profile' %}" class="w3-button w3-theme-dark" style="background-color: #ff8000;">Edit Profile<a>&nbsp;</a>
    <a href="{% url 'change_password' %}" class="w3-button w3-theme-dark" style="background-color: #ff8000;">Change Password</a></a>
</div>
<br>
<br>
<!--Footer-->
<footer style="background-color: #072c16">
    <br>
    <style>
          header {background-color: #072c16}
    </style>
    <p style="color: white;margin-left: 20px">Follow us on our social media platforms:
        <a href="https://twitter.com/?lang=en" target="_blank"><image src="{% static "images/Twitter.png" %}" alt="Twitter" style="width:2%"/></a>
        <a href="https://www.instagram.com/" target="_blank"><image src="{% static "images/Instagram.png" %}" alt="instagram" style="width:2%"/></a>
        <a href="https://www.facebook.com/" target="_blank"><image src="{% static "images/facebook.png" %}" alt="facebook" style="width:2%"/></a></p>
    <p style="color: white;text-align:center">Copyright &copy 2018. All Rights Reserved. </p>
  </footer>
<!--End of Footer-->
<script>
    // Side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "20%";
    x.style.fontSize = "20px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
</body>
</html>